aiogram
aiogram[i18n]
yt_dlp
ytmusicapi
python-dotenv
deep-translator
aiosqlite
aiofiles
mutagen
aiohttp
beautifulsoup4
fake-useragent
Pillow
Babel
PyTTSave
instaloader
git+https://github.com/JellyTyan/bilix#egg=bilix
